:root {
    /* Primitive */
    --graphite: #2b2b2b;
    --carbon-black: #1f1f1f;
    --charcoal: #4b4b4b;
    --gray: #7a7a7a;

    --secondary-bg: #efece6;
    --amber: #c6922b;
    --deep-olive: #56624a;
    --bright-snow: #f8f7f4;
    --dust-gray: #ddd9d0;

    /* Semantic */
    --color-primary: var(--graphite);

    --color-background: var(--bright-snow);
    --color-background-secondary: var(--secondary-bg);

    --color-text-primary: var(--carbon-black);
    --color-text-secondary: var(--charcoal);
    --color-text-muted: var(--gray);

    --color-accent: var(--amber);
    --color-support: var(--deep-olive);

    --color-border: var(--dust-gray);

    /* Radius */
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 20px;
    --radius-xl: 32px;

    /* Layout */
    --container-max-width: 1280px;
    --container-padding: 16px;
    --container-padding-lg: 32px;

    /* Spacing */
    --section-space-y: 120px;
    --section-space-y-mobile: 72px;
    --content-space-y: 32px;
}

.dark {
    --color-background: #181818;
    --color-background-secondary: #222222;

    --color-text-primary: #f8f7f4;
    --color-text-secondary: #d0d0d0;
    --color-text-muted: #9a9a9a;

    --color-border: #333333;
}